@CHARSET "ISO-8859-1";

#message{
	
	text-align: center;
	position: absolute;
	left: 40vw;
	top: 30vh;	
	padding: 2vw;
	background-color: rgba(5,66,135,0.8);
	border-radius: 10px;	
	font-size: 18px;

	
}